$accentBgColor: rgb(235, 244, 252);
$accentBgTextColor: rgb(78, 118, 165);

$primaryColor: #333;
$secondaryColor: #888;

$primaryAccentColor: rgb(64, 140, 253);
$secondaryAccentColor: rgb(32, 90, 179);
$thirdAccentColor: rgba(64, 140, 253, 0.3);
$fourthAccentColor: rgb(55, 165, 228);
$fifthAccentColor: rgb(55, 187, 228);

$separateAccentColor: rgba(123, 169, 216, 0.05);

$primaryTransition: 0.65s ease;
$secondaryTransition: 0.4s ease;